PORT=5000
MONGODB_URI=mongodb+srv://<username>:<password>@cluster0.gkmyrme.mongodb.net/hardwareshop_db?retryWrites=true&w=majority&appName=Cluster0
ADMIN_PASSWORD=0000
JWT_SECRET=super-secret-pashupatinath-hardware-token-2026
NODE_ENV=production
